.footer {
    background-color: #333;
    color: white;
    padding: 50px 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .info, .resources, .contact {
    flex: 1;
  }
  
  .info h4, .resources h4, .contact h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .info p, .resources p, .contact p {
    font-size: 14px;
  }
  
  .footer-bottom {
    text-align: center;
  }
  