.leading-medicine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fde4e1;
    padding: 50px;
  }
  
  .content {
    max-width: 50%;
  }
  
  .content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
  }
  
  .content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .learn-more-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learn-more-btn:hover {
    background-color: #0056b3;
  }
  
  .image .syringe {
    max-width: 400px;
    border-radius: 10px;
    height: 150px;
  }
  